@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap');

$base-color: #007bff;
$neutral-color: #fff;

$start-hover: #023f81;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow-color-1: rgba(0, 0, 0, 0.2);
$box-shadow-color-2: rgba(0, 0, 0, 0.19);

$timer-box: #cce5ff;
$timer-border: #b8daff;
$timer: #343a40;

$option-border: #84c5fe;
$option-hover: #004085;
$option-tick: #23903c;
$option-tick-background: #d4edda;
$option-cross: #a42834;
$option-cross-background: #f8d7da;


$quiz-footer-background: #0263ca;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Serif Pro', serif;
    background: $base-color;
}